body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    }
    .header_div{
        font-family:Arial, Helvetica, sans-serif;
        background-color: aliceblue;
        color: rgb(18, 44, 101);
        box-shadow: 5px 5px 5px black;
    
    }
    .header_div p{
        font-family:Arial, Helvetica, sans-serif;
        color:rgb(46, 88, 101);
        letter-spacing: 2px;
        font-size: 12px;
        font-weight: bolder;
    
    }
    .main_div button{
        font-family:Arial, Helvetica, sans-serif;
        margin-top: 30px;
        font-weight: bolder;
        width: 130px;
        letter-spacing: 2px;
    }
    .footer{
        position: fixed;
        bottom: 0;
        color:rgb(37, 54, 71);
        width: 100%;
        font-size: 18px;
        background-color: aliceblue;
        line-height: 3;
        text-align:center;
    }